* {
	font-family: Poppins, sans-serif;
	color: #ff278e;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('./assetsmob/MarcoMobile.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

nav {
	background-color: #333;
	padding: 1em;
}

nav a {
	color: white;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

#app {
	padding: 2em;
}

#goToScreen3 {
	background: none;
	border: none;

	align-items: center;
	text-align: center;
	justify-content: center;
	height: 90vh;
	margin-left: 80px;
	font-size: 20px;
}

.welcome,
.dinamic {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 90vh;
}

.option {
	background: none;
	border: none;
}

.orderButtons1 {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.orderButtons2 {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.optionsScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 90vh;
}

#continueButton {
	background-color: #ff278e;
	color: White;
	padding: 10px 20px;
	border-radius: 20px;
	width: 180px;
	height: 60px;
	border: none;
	font-size: 18px;
}

.formScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 90vh;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#sendButton {
	background-color: #ff278e;
	color: White;
	padding: 10px 20px;
	border-radius: 20px;
	width: 180px;
	height: 60px;
	border: none;
	font-size: 18px;
}

.inputs {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#name,
#email {
	margin: 30px;
	width: 270px;
	height: 60px;
	border: 3px solid #ff278e;
	border-radius: 20px;

	color: #ff278e;
}

input::placeholder {
	color: #ff278e;
	padding-left: 15px;
	font-size: 16px;
}

.parrafo,
#linkTreeButton0,
#linkTreeButton {
	font-size: 22px;
}

.cta button {
	margin: 20px;
}

#linkTreeButton0 {
	background-color: #ffc0e0;
	color: #ff278e;
	padding: 20px;
	border-radius: 20px;
	width: 240px;
	height: 60px;
	border: none;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#linkTreeButton {
	background-color: #ff278e;
	color: white;
	padding: 20px;
	border-radius: 20px;
	width: 240px;
	height: 60px;
	border: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
